/*************************************************/
/* STRUCTURE
/*************************************************/

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: var(--font-family-base);
    color: var(--color-font-dark)
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--color-bg-bandeau-secondary);
    box-shadow: 0 5px 10px var(--color-shadow-primary);
}

main {
    background-color: var(--color-bg-light-primary);
}

footer {
    background-color: var(--color-bg-dark-tertiary);
}

.container {
    width: 1280px;
    margin: 0 auto;
}

