/*************************************************/
/* ECOWORKING
/*************************************************/

.ecoworking {
    padding: 4rem 0;

    .ecoworking_presentation {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;

        .ecoworking_presentation-titre {
            flex-grow: 2;
            flex-basis: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            min-height: 350px;

            >div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                padding: 1rem;
                border: solid 1px var(--color-div-border-primary);
                border-radius: 10px;
                background-color: #f9f9f9;
            }
        }

        .ecoworking_presentation-image {
            flex-grow: 3;
            flex-basis: 0;
            background-image: url(/assets/img/index/place1.jpg);
            background-position: center;
            background-size: cover;
            background-clip: content-box;
            background-repeat: no-repeat;
            box-shadow: 0 0 30px 0 var(--color-shadow-primary);
        }
    }

    .ecoworking_coordonnees {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        img {
            height: 2rem;
            margin-right: 1.5rem;
        }
        
        span {
            font-size: 1.2rem;
        }

        a {
            text-decoration: underline;
        }
    }
}