/*************************************************/
/* RECHERCHE
/*************************************************/

.search {
    padding: 3rem 0 5rem;

    .search-filter {
        height: 1rem;
        margin-top: 2rem;
        border: solid 1px var(--color-bg-dark-primary);
        border-radius: 5px;
    }
}