/*************************************************/
/* FONTS
/*************************************************/

@font-face {
  font-family: "Poppins-Thin";
  src: url(/assets/fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: "Poppins-ExtraLight";
  src: url(/assets/fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "Poppins-Light";
  src: url(/assets/fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(/assets/fonts/Poppins/Poppins-Medium.ttf);
}
/*************************************************/
/* VARIABLES
/*************************************************/

/* COULEURS DE BASE : #303841 #47555e #7aa5d2 #eeeeee */

:root {
    /* BACKGROUND COLOR */
    --color-bg-primary: #576c79;
    --color-bg-primary-darker: #3e4b5a;
    --color-bg-secondary: #fdfdfd;




    --color-bg-secondary-darker: #eeeeee;
    --color-bg-logo: #7aa5d2;
    --color-bg-grid-hover: #8aaacc;
    --color-bg-grid-shadow: #808080;
    /* FONT COLOR */
    --color-font-dark: #303841;
    --color-font-bright: #ffffff;
    --color-font-logo: #93e4ab;




    --color-font-h2: #758b99;
    --color-font-h3: #7aa5d2;
    --color-arrows: #a0a0a0;
    /* HOVER */
    --color-font-menu-hover: #93e4ab;
    --color-font-menu-hover-darker: #5aaa72;
    --color-font-menu-focus: #e7ba66;





    --color-font-submenu-title: #cecece;
    /* FONT FAMILY */
    --font-family-base: Geneva, Verdana, sans-serif;
    --font-family-logo: cursive, Verdana, sans-serif;
}
    