@import url("variables.css");
@import url("fonts.css");

/*************************************************/
/* NORMALISATION
/*************************************************/

* {
    box-sizing: border-box;
    margin: 0; 
}

a {
    text-decoration: none;
    outline: none;
}

h1, h2, h3 {
    text-align: center;
    font-family: var(--font-family-title);
}

h1, h2 {
    font-size: 2.5rem;
    color: var(--color-font-title-secondary);
}

h3 {
    font-size: 2rem;
    color: var(--color-font-title-primary);
}

h4 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-font-title-primary);
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

/*************************************************/
/* COMMON
/*************************************************/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-bg-button);
    color: var(--color-font-light);
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color var(--transition-primary);

    &:hover {
        background-color: var(--color-hover-primary);
        color: var(--color-font-light);
    }
}

.link {
    color: var(--color-font-dark);
    transition: color var(--transition-primary), transform var(--transition-primary);

    &:hover {
        color: var(--color-hover-primary);
    }

    &:focus-visible {
        outline: 2px solid var(--color-hover-primary);
    }
}

.container {
    width: 1280px;
    margin: 0 auto;
}
