/*************************************************/
/* VARIABLES
/*************************************************/

/* COULEURS DE BASE : #303841 #47555e #7aa5d2 #eeeeee */

:root {
    /* BACKGROUND COLOR */
    --color-bg-light-primary: #f0f0f0;
    --color-bg-light-decondary: #ffffff;
    --color-bg-dark-primary: #4a5868;
    --color-bg-dark-secondary: #3e4b5a;
    --color-bg-dark-tertiary: #3c4d41;
    --color-bg-button: #4e865e;
    --color-bg-separator: #5c6977;
    --color-bg-note: #b68d41;

    /* SHADOW COLOR */
    --color-shadow-primary: #4d4d4d;
    --color-shadow-secondary: #9c9c9c;

    /* FONT COLOR */
    --color-font-light: #ffffff;
    --color-font-medium: #bdc8d4;
    --color-font-dark: #38414d;
    --color-font-title-primary: #56606b;
    --color-font-title-secondary: #4e8f60;
    --color-font-title-tertiary: #f5cb7e;

    /* LIENS, HOVER & FOCUS */
    --color-hover-primary: #b68d41;
    --color-hover-secondary: #f0ba57;
    --color-hover-arrows: #a0a0a0;

    /* BANDEAU & MENU */
    --color-bg-bandeau-primary: var(--color-bg-dark-secondary);
    --color-bg-bandeau-secondary: var(--color-bg-light-primary);
    --color-bg-bandeau-submenu: var(--color-bg-dark-primary);
    --color-font-bandeau-title-primary: var(--color-font-title-primary);
    --color-font-bandeau-title-secondary: var(--color-font-title-secondary);
    --color-font-menu-primary: var(--color-font-dark);
    --color-font-submenu: #bdc8d4;
    --color-font-submenu-title: #bdc8d4;
    
    /* FONT FAMILY */
    --font-family-base: 'Segoe UI', Verdana, sans-serif;
    --font-family-title: cursive, Verdana, sans-serif;

    /* TRANSITIONS */
    --transition-primary: 0.3s ease-in-out;
    --transition-secondary: 0.5s ease-in-out;
}